<form action="?{{ vars|url_encode }}" method="POST">
{% for key, value in subjects %}
<input id="{{ key }}" type="checkbox" name="subject[]" value="{{ key }}" checked="checked" /> <label for="{{ key }}">{{ value }} [{{ key }}]</label><br />
{% endfor %}
<input type="submit" class="clean-gray">
</form>